<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.leanderli.android.demo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".layout.FlowLayoutTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".component.viewpager.RecyclerViewPagerTestActivity">
        </activity>
        <activity android:name=".launcher.Launcher" />
        <activity android:name=".layout.VerticalDrawerLayoutActivity"></activity>
        <activity
            android:name=".bottomsheet.BottomSheetActivity"
            android:theme="@style/LauncherThemeCompat" />
        <activity android:name=".timertasktest.MainActivity" />

        <service android:name=".timertasktest.AlarmService" />

        <receiver android:name=".timertasktest.AlarmReceiver" />

        <activity android:name=".mvptest.test.TestActivity" />
        <activity android:name=".mvptest.recycleviewtest.ListTestActivity" />
        <activity android:name=".canvas.DrawTextActivity" />
        <activity android:name=".launcher.LauncherAppTestActivity" />
        <activity android:name=".linearGradient.LinearGradientTestActivity" />
        <activity android:name=".blur.BlurTestActivity" />
        <activity android:name=".canvas.CircleImageViewTestActivity" />
        <activity android:name=".layout.GridLayoutTestActivity" />
        <activity android:name=".canvas.DrawableTextViewTestActivity" />
        <activity android:name=".component.drawerlayout.BottomDrawerLayoutTestActivity" />
        <activity android:name=".file.FileTestActivity" />
        <activity android:name=".tablayout.TabLayoutActivity" >

        </activity>
    </application>

</manifest>